<h2 style="margin-top: 0; color: #111827;">Olá!</h2>

<p>Este e-mail é para confirmar que <strong><%= @user.email %></strong> é o endereço que você deseja utilizar na sua conta do GeoSafe. É através dele que você receberá alertas e links de recuperação de senha.</p>

<p><strong>Por favor, clique no botão abaixo para confirmar seu e-mail:</strong></p>

<div style="text-align: center;">
  <%= link_to "Confirmar meu E-mail", identity_email_verification_url(sid: @signed_id), class: "button" %>
</div>

<hr>

<p style="font-size: 14px; color: #4b5563;">Tem dúvidas ou precisa de ajuda? Apenas responda a este e-mail e nossa equipe de suporte irá te ajudar.</p>
