<div class="w-full px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto py-12">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-4xl font-bold text-center text-secondary300">Funcionalidades:</h1>
  </div>
  <%= render Icon::IconComponent.new(name: "location", classes: "w-12 h-12") %>
</div>