<div class="w-full px-4 sm:px-6 lg:px-8 py-8 sm:py-12">
  <div id="funcionalidades" class="pb-8">
    <div class="py-6 sm:py-8">
      <h1 class="text-3xl sm:text-4xl font-semibold text-center text-secondary300">Funcionalidades:</h1>
    </div>
    <div class="flex flex-col sm:flex-row justify-around gap-4">
      <div class="flex flex-col max-w-full sm:max-w-[40%] p-4 items-center justify-center text-center">
        <%= render Icon::IconComponent.new(name: "location", size: "lg", classes: "pb-2") %>
        <p class="text-center text-sm sm:text-base">Com os alertas <span class="font-bold text-primary300">Geosafe</span> você pode estar <b>sempre ciente</b> do que está acontecendo ao seu redor com os <b>alertas gerados pelos próprios usuários</b>, podendo ser alertas de moradores ou <b>alertas de transitantes</b>.</p>
      </div>
      <div class="flex flex-col max-w-full sm:max-w-[40%] p-4 items-center justify-center text-center">
        <%= render Icon::IconComponent.new(name: "search", size: "md", classes: "pb-2") %>
        <p class="text-center text-sm sm:text-base">Está pretendendo ir para algum local e não tem certeza de como está a <b>segurança nas proximidades?</b> Com a funcionalidade <b>Pesquisa Safe, os membros Geosafe+</b> não ficam na mão e conseguem saber os incidentes que estão ocorrendo no local em que estão planejando ir.</p>
      </div>
    </div>
  </div>
  
  <div id="por-que-contribuir" class="border-t-2 border-b-2 py-5">
    <div class="py-6 sm:py-8">
      <h1 class="text-3xl sm:text-4xl font-semibold text-center text-secondary300">Por que contribuir?</h1>
    </div>
    <div class="flex flex-col sm:flex-row justify-around gap-4">
      <div class="flex flex-col max-w-full sm:max-w-[40%] p-4 items-center justify-center text-center">
        <%= render Icon::IconComponent.new(name: "group", size: "lg", classes: "pb-2") %>
        <div class="text-center text-sm sm:text-base">
          <p>Ao acumular <b>pontos de alertas pertinentes (Geopontos)</b>, torne-se um dos <b>Guardiões</b> da sua cidade, município ou região. Os <b>Guardiões</b> são personalidades verificadas que geram alertas relevantes e são apoiadas pelos moradores da cidade.</p>
          <p><b>Guardiões ganham destaque e reconhecimento na Geosafe. Torne-se um Guardião!</b></p>
        </div>
      </div>
      <div class="flex flex-col max-w-full sm:max-w-[40%] p-4 items-center justify-center text-center">
        <%= render Icon::IconComponent.new(name: "money", size: "lg", classes: "pb-2") %>
        <div class="text-center text-sm sm:text-base">
          <p>Com os <b>Geopontos</b>, você tem o direito de trocá-los por diversos prêmios na plataforma, incluindo descontos em restaurantes, bares e até eletrodomésticos.</p>
          <p>Lembrando que, para resgatar os prêmios da loja, você precisa ser <span class="font-bold text-primary300">Geosafe+</span></p>
          <p>Para usuários sem assinatura, é possível resgatar assinaturas <span class="font-bold text-primary300">Geosafe+</span> na loja <span class="font-bold text-primary300">Geosafe</span></p>
        </div>
      </div>
    </div>
  </div>

  <div id="planos" class="border-t-2 py-5">
    <div class="py-6 sm:py-8">
      <h1 class="text-3xl sm:text-4xl font-semibold text-center text-secondary300">Planos</h1>
    </div>
    <div class="flex flex-row justify-around">
      <div class="flex flex-col w-full sm:w-1/3 bg-primary200 shadow-lg rounded-xl color p-4 items-center justify-center text-center gap-6 sm:gap-10">
        <div class="w-full h-auto p-4 bg-primary100 shadow-lg rounded-xl">
          <span class="text-secondary300 text-2xl sm:text-3xl font-semibold">Geosafe+</span>
        </div>
        <p class="text-secondary300 text-xs sm:text-sm font-medium">Tenha acesso aos benefícios Geosafe+ de pesquisa e acesso as recompensas da loja de Geopontos</p>
        <h1 class="text-secondary300 text-3xl sm:text-4xl pb-4 font-semibold">R$ 9,90/mês</h1>
      </div>
    </div>
  </div>
</div>
