<div data-controller="dropdown" class="relative">
  <div>
    <button type="button" class="inline-flex justify-between items-center w-full rounded-xl border border-grey300 shadow-sm px-4 py-2.5 bg-white text-sm font-semibold text-grey900 hover:bg-grey50 focus:outline-none focus:ring-2 focus:ring-primary200 focus:border-primary400 transition-all" id="options-menu" aria-haspopup="true" aria-expanded="true" data-action="click->dropdown#toggle">
      <%= @title %>
      <svg class="-mr-1 ml-2 h-5 w-5 text-grey500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>

  <div data-dropdown-target="menu" class="hidden origin-top-right absolute right-0 mt-2 w-56 rounded-xl shadow-xl bg-white ring-1 ring-black ring-opacity-5 z-50 animate-in fade-in zoom-in duration-200">
    <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
      <% @options.each do |option| %>
        <%= link_to option, "#", class: "block px-4 py-2.5 text-sm text-grey700 hover:bg-primary50 hover:text-primary700 transition-colors" %>
      <% end %>
    </div>
  </div>
</div>
